body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.box {
  margin: auto;
  width: 300px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  width: 120px;
  background: cyan;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#messages {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
}
